@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

body {
    background-color: #78909C;
    padding: 10px;
}

body h2 {
    margin: 20px 0 8px 30px;
    color: #212121;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-column {
    margin-top: 15px;
    width: 320px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
}

.box-header span {
    margin-left: 5px;
    background-color: #FFF;
    padding: 3px 6px;
    border-radius: 3px;
    color: #1976D2;
}

.box-header i {
    margin-right: 5px;
    color: #FFF;
    cursor: pointer;
}